<md-dialog aria-label="Actualizar Pieza" ng-cloak="" ng-controller="EditReporteEquiposController">
    <form name="reporteEquipoForm" novalidate>
        <md-toolbar class="md-toolbar-tools">
            <h2 class="title">Actualizar Equipo</h2>
            <span flex=""></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content">
            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <label>Equipo</label>
                <md-icon class="icon icon-puzzle"></md-icon>
                <input type="text" required md-no-asterisk name="equipo" ng-model="Reporte.marca" md-no-asterisk style="text-transform:uppercase;">
                <div ng-messages="reporteEquipoForm.Reporte.$error" role="alert">
                    <div ng-message="required">
                        <span>Equipo es un campo obligatorio.</span>
                    </div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-button" ng-click="EditarPieza()">Actualizar</md-button>
            <md-button class="md-button" ng-click="cancel()">Cancelar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>