<div id="register" class="flex-scrollable" layout="column" ms-scroll>
    <div id="register-form-wrapper" layout="column" layout-align="center center">
        <div id="register-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>E</span>
            </div>

            <div class="title" translate="REGISTRO.TITLE">Crea una cuenta</div>

            <form name="registerForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input name="username" ng-model="vm.credenciales.UserName" placeholder="Usuario"
                           translate translate-attr-placeholder="REGISTRO.USERNAME"
                           required>
                    <div ng-messages="registerForm.username.$error" role="alert">
                        <div ng-message="required">
                            <span translate="REGISTRO.ERRORS.USERNAME_REQUIRED">El campo usuario es necesario</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input name="firstname" ng-model="vm.credenciales.FirstName" placeholder="Nombres"
                           translate translate-attr-placeholder="REGISTRO.FIRSTNAME"
                           required>
                    <div ng-messages="registerForm.firstname.$error" role="alert">
                        <div ng-message="required">
                            <span translate="REGISTRO.ERRORS.FIRSTNAME_REQUIRED">El campo nombres es necesario</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input name="lastname" ng-model="vm.credenciales.LastName" placeholder="Apellidos"
                           translate translate-attr-placeholder="REGISTRO.LASTNAME"
                           required>
                    <div ng-messages="registerForm.username.$error" role="alert">
                        <div ng-message="required">
                            <span translate="REGISTRO.ERRORS.LASTNAME_REQUIRED">El campo apellidos es necesario</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.credenciales.Email" placeholder="Email"
                           translate translate-attr-placeholder="REGISTRO.EMAIL"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="registerForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="REGISTRO.ERRORS.EMAIL_REQUIRED">El campo correo es necesario</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="REGISTRO.ERRORS.EMAIL_MUST_VALID">El correo debe ser una dirección de correo electrónico válida</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.credenciales.Password" placeholder="Password"
                           translate translate-attr-placeholder="REGISTRO.PASSWORD"
                           required>
                    <div ng-messages="registerForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span translate="REGISTRO.ERRORS.PASSWORD_REQUIRED">El campo contraseña es necesario</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="vm.credenciales.ConfirmPassword"
                           placeholder="Confirmar Password"
                           translate translate-attr-placeholder="REGISTRO.PASSWORD_CONFIRM"
                           required>
                    <div ng-messages="registerForm.passwordConfirm.$error" role="alert">
                        <div ng-message="required">
                            <span translate="REGISTRO.ERRORS.PASSWORD_CONFIRM_REQUIRED">El campo confirmar contraseña es necesario</span>
                        </div>
                    </div>
                </md-input-container>

               <!-- <md-input-container class="md-block" md-no-float>
                    <input name="role" ng-model="vm.credenciales.Role" readonly
                           translate translate-attr-placeholder="REGISTRO.ROLE"
                           required>

                </md-input-container> -->

                <div class="terms" layout="row" layout-align="center center">
                    <md-checkbox name="terms" ng-model="data.cb1" aria-label="I read and accept" required></md-checkbox>
                    <div layout="row" layout-sm="column" layout-align="start center">
                        <span translate="REGISTRO.READ_ACCEPT">Leo y Acepto</span>
                        <a href="#" class="md-accent-color" translate="REGISTRO.TERMS_COND">Terminos y Condiciones</a>
                    </div>
                </div>

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="CREATE MY ACCOUNT"
                           ng-disabled="registerForm.$invalid || registerForm.$pristine"
                           translate="REGISTRO.CREATE_ACCOUNT"
                           translate-attr-aria-label="REGISTRO.CREATE_ACCOUNT" ng-click="vm.createUser()" ng-keypress="vm.createUser()">
                    REGISTRAR
                </md-button>
            </form>

            <div class="login" layout="row" layout-xs="column" layout-align="center center">
                <span class="text" translate="REGISTRO.ALREADY_HAVE">¿Ya tienes una cuenta?</span>
                <a class="link" ui-sref="app.login" translate="REGISTRO.LOGIN">Ingresar</a>
            </div>
        </div>
    </div>
</div>