<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between" style="height: 100px; min-height: 100px; max-height: 100px;">
        <div layout="column" layout-align="space-between">
            <div class="title" translate="REPORTEEQUIPOS.TITLE">Consultar equipos</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="md-title"></div>

        <!--<div class="mv-24"></div> -->

        <!-- BASIC FORM -->
        <div class="form-wrapper md-whiteframe-1dp" flex="60">

            <form name="basicForm" class="md-inline-form" novalidate>

                <div class="form-title" translate="REPORTEEQUIPOS.SUBTITLE">Buscar equipos</div>
                <div class="pb-16">
                    A continuación busque los equipos
                </div>

                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <label translate="REPORTEEQUIPOS.EQUIPOS">Equipos</label>
                        <md-select ng-model="vm.Reporte.equiposId">
                            <md-option ng-repeat="item in vm.Equipos" ng-value="item.equiposId">
                                {{item.tipo}} {{item.marca}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                           ng-disabled="basicForm.$invalid || basicForm.$pristine" >
                    Buscar
                </md-button>

            </form>

        </div>
        <!-- / BASIC FORM -->
    </div>
    <!-- / CONTENT -->

    <div class="content" ng-cloak="">

        <div layout="row">
            <div flex="55" class="white-bg md-whiteframe-4dp">
                <table class="dataTable row-border hover" datatable="ng" dt-options="dtOptions">
                    <thead>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Modelo</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Fecha de Compra</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Serial</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Estado</span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in Equipos" ng-click="seleccionar(item.tipo)">
                        <td>{{ $index + 1}}</td>
                        <td>{{item.tipo }}</td>
                        <td>
                            <md-button ng-click="ShowEdit(ev,pieza)" class="md-fab md-icon-button" style="background: #004D40 !important;">
                                <md-tooltip md-direction="left">Editar Motocicleta</md-tooltip>
                                <md-icon md-font-icon="icon-border-color"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>