<md-dialog class="event-form-dialog" aria-label="New Message">
    <form name="eventForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.dialogTitle}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="CALENDARINSTITUTION.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <div layout="row" class="date-row">
                <md-datepicker ng-model="vm.calendarEvent.start" md-placeholder="Start Date"></md-datepicker>

                <md-input-container class="no-errors-spacer" flex md-no-float>
                    <input ng-model="vm.calendarEvent.startTime" placeholder="Start Time" translate
                           translate-attr-placeholder="CALENDARINSTITUTION.START_TIME">
                </md-input-container>
            </div>

            <div layout="row" class="date-row">
                <md-datepicker ng-model="vm.calendarEvent.end" md-placeholder="End Date"></md-datepicker>

                <md-input-container class="no-errors-spacer" flex md-no-float>
                    <input ng-model="vm.calendarEvent.endTime" placeholder="End Time" translate
                           translate-attr-placeholder="CALENDARINSTITUTION.END_TIME">
                </md-input-container>
            </div>

            <md-input-container class="md-block" flex>
                <label translate="CALENDARINSTITUTION.LOCATION">Ubicacion</label>
                <input ng-model="vm.alquiler.Salon">
            </md-input-container>

            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                    <label>Docentes</label>
                    <md-select ng-model="vm.Reporte.docenteId">
                        <md-option ng-repeat="item in vm.Docentes" ng-value="item.docenteId">
                            {{item.nombre}} {{item.apellidos}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <!-- Inicio del Chip  -->

            <h2 class="md-title">¿Qué equipos requiere?</h2>

            <md-chips ng-model="vm.selectedVegetables" md-autocomplete-snap
                      md-transform-chip="vm.transformChip($chip)"
                      md-require-match="vm.autocompleteDemoRequireMatch">
                <md-autocomplete
                        md-selected-item="vm.selectedItem"
                        md-search-text="vm.searchText"
                        md-items="item in vm.querySearch(vm.searchText)"
                        md-item-text="item.name"
                        placeholder="Cantidad de equipos">
                    <span md-highlight-text="vm.searchText">{{item.name}} :: {{item.texto}}</span>
                </md-autocomplete>
                <md-chip-template>
        <span>
          <strong>{{$chip.name}}</strong>
          <em>({{$chip.type}})</em>
        </span>
                </md-chip-template>
            </md-chips>

            <!-- Fin Chip -->

            <md-input-container flex class="md-block textarea-container">
                <label translate="CALENDARINSTITUTION.NOTES">Notas</label>
                <textarea ng-model="vm.alquiler.Descripcion" md-maxlength="250" max-rows="4"></textarea>
            </md-input-container>
        </md-dialog-content>



        <md-dialog-actions layout="row" layout-align="space-between center">
            <md-button ng-click="vm.saveEvent()" class="save-button md-accent md-raised" aria-label="SAVE"
                       ng-disabled="eventForm.$invalid || eventForm.$pristine"
                       translate="CALENDAR.SAVE"
                       translate-attr-aria-label="CALENDAR.SAVE">
                Guardar
            </md-button>

            <md-button class="md-icon-button" ng-click="vm.removeEvent()" aria-label="Delete" translate translate-attr-aria-label="CALENDAR.DELETE">
                <md-icon md-font-icon="icon-delete"></md-icon>
                <md-tooltip><span translate="CALENDARINSTITUTION.DELETE">Eliminar</span></md-tooltip>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>