<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task">

    <form name="EquipoForm" class="md-inline-form" novalidate>
        <td>{{item.modelo}}</td>
        <td>{{item.tipo }}</td>
        <td>{{item.marca }}</td>
        <td>{{item.fechaCompra }}</td>
        <td>{{item.serial }}</td>
        <td>{{item.descripcion }}</td>

        <md-dialog-content ms-scroll>
            <div layout="row">
                <md-input-container class="md-icon-float md-block" flex="">
                    <label>Modelo</label>
                    <md-icon md-font-icon="icon-account"></md-icon>
                    <input ng-model="equipo.modelo" type="text" ng-required md-autofocus required md-no-asterisk name="modelo">
                    <div ng-messages="EquipoForm.modelo.$error" role="alert">
                        <div ng-message="required">
                            <span>Modelo es un campo obligatorio.</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block" flex="">
                    <label>Tipo</label>
                    <md-icon md-font-icon="icon-account"></md-icon>
                    <input ng-model="equipo.tipo" type="text" required md-no-asterisk name="tipo">
                    <div ng-messages="EquipoForm.tipo.$error" role="alert">
                        <div ng-message="required">
                            <span>Tipo es un campo obligatorio.</span>
                        </div>
                    </div>
                </md-input-container>
            </div>

            <md-input-container class="md-icon-float md-block" flex="">
                <label>Marca</label>
                <md-icon md-font-icon="icon-email"></md-icon>
                <input ng-model="equipo.marca" type="text" required md-no-asterisk name="marca">
                <div ng-messages="EquipoForm.marca.$error" role="alert">
                    <div ng-message="required">
                        <span>Marca es un campo obligatorio.</span>
                    </div>
                </div>
            </md-input-container>

            <div layout="row">
                <md-input-container class="md-icon-float md-block" flex="">
                    <label>Fecha de Compra</label>
                    <md-icon md-font-icon="icon-clipboard-text"></md-icon>
                    <input ng-model="equipo.fechaCompra" type="date" required md-no-asterisk name="fechaCompra">
                    <div ng-messages="EquipoForm.fechaCompra.$error" role="alert">
                        <div ng-message="required">
                            <span>Fecha de Compra es un campo obligatorio.</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block" flex="">
                    <label>Serial</label>
                    <md-icon md-font-icon="icon-clipboard-text"></md-icon>
                    <input ng-model="equipo.serial" type="text" required md-no-asterisk name="serial">
                    <div ng-messages="EquipoForm.serial.$error" role="alert">
                        <div ng-message="required">
                            <span>Serial de Compra es un campo obligatorio.</span>
                        </div>
                    </div>
                </md-input-container>


            </div>

            <div layout="row">
                <md-input-container class="md-icon-float md-block" flex="">
                    <label>Descripción</label>
                    <md-icon md-font-icon="icon-clipboard-text"></md-icon>
                    <textarea ng-model="equipo.descripcion" required md-no-asterisk name="descripcion"></textarea>
                    <div ng-messages="EquipoForm.descripcion.$error" role="alert">
                        <div ng-message="required">
                            <span>Descripcion es un campo obligatorio.</span>
                        </div>
                    </div>
                </md-input-container>
            </div>

        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-if="!nuevoEquipo" ng-click="ActualizarEquipo()"
                           class="send-button md-accent md-raised">
                    Actualizar
                </md-button>

                <md-button type="submit" ng-if="nuevoEquipo" ng-click="CrearEquipo()"
                           class="send-button md-accent md-raised"
                           ng-disabled="EquipoForm.$invalid || EquipoForm.$pristine">
                    Guardar
                </md-button>

            </div>

            <div layout="row">
                <md-button type="button" ng-if="!newContact" ng-click="closeDialog()">
                    Cancelar
                </md-button>
            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
<!-- / DIALOG -->