<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task">

    <form name="reporteEquipoForm" class="md-inline-form" novalidate>

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-tall" layout="column">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">{{titulo}}</span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->

            <!-- TOOLBAR MIDDLE -->
            <div class="md-toolbar-tools md-toolbar-tools-middle" flex layout="column" layout-align="center center">
                <div layout="column" layout-align="center center">
                    <img md-menu-align-target class="avatar" alt src="assets/images/avatars/profile.jpg" style="width: 96px; height: 96px;">
                    <div class="contact-name">{{equipo.modelo}} {{equipo.serial}}</div>
                </div>
            </div>

        </md-toolbar>

        <md-dialog-content ms-scroll>
            <div layout="row">
                <md-input-container class="md-icon-float md-block" flex="">
                    <label>Modelos</label>
                    <md-icon md-font-icon="icon-account"></md-icon>
                    <input ng-model="equipo.modelo" type="text" ng-required md-autofocus required md-no-asterisk name="modelos">
                    <div ng-messages="reporteEquipoForm.modelo.$error" role="alert">
                        <div ng-message="required">
                            <span>Modelos es un campo obligatorio.</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block" flex="">
                    <label>Tipos</label>
                    <md-icon md-font-icon="icon-account"></md-icon>
                    <input ng-model="equipo.tipo" type="text" required md-no-asterisk name="tipos">
                    <div ng-messages="reporteEquipoForm.tipos.$error" role="alert">
                        <div ng-message="required">
                            <span>Tipos es un campo obligatorio.</span>
                        </div>
                    </div>
                </md-input-container>
            </div>

            <md-input-container class="md-icon-float md-block" flex="">
                <label>Marca</label>
                <md-icon md-font-icon="icon-email"></md-icon>
                <input ng-model="equipo.marca" type="text" required md-no-asterisk name="marcas">
                <div ng-messages="reporteEquipoForm.marcas.$error" role="alert">
                    <div ng-message="required">
                        <span>Marcas es un campo obligatorio.</span>
                    </div>
                </div>
            </md-input-container>

            <div layout="row">
                <md-input-container class="md-icon-float md-block" flex="">
                    <label>Fecha Compra</label>
                    <md-icon md-font-icon="icon-clipboard-text"></md-icon>
                    <input ng-model="equipo.identificacion" type="date" required md-no-asterisk name="fechas">
                    <div ng-messages="reporteEquipoForm.fechas.$error" role="alert">
                        <div ng-message="required">
                            <span>Fechas es un campo obligatorio.</span>
                        </div>
                    </div>
                </md-input-container>

            </div>

            <div layout="row">
                <md-input-container class="md-icon-float md-block" flex="">
                    <label>Serial</label>
                    <md-icon md-font-icon="icon-clipboard-text"></md-icon>
                    <input ng-model="equipo.serial" type="text" required md-no-asterisk name="serial">
                    <div ng-messages="reporteEquipoForm.serial.$error" role="alert">
                        <div ng-message="required">
                            <span>Serial es un campo obligatorio.</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block" flex="">
                    <label>Descripcion</label>
                    <md-icon md-font-icon="icon-phone"></md-icon>
                    <input ng-model="equipo.descripcion" type="text" required md-no-asterisk name="descripcion">
                    <div ng-messages="reporteEquipoForm.telefono.$error" role="alert">
                        <div ng-message="required">
                            <span>Descripcion es un campo obligatorio.</span>
                        </div>
                    </div>
                </md-input-container>
            </div>

        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-if="!nuevoEquipo" ng-click="ActualizarEquipo()"
                           class="send-button md-accent md-raised">
                    Actualizar
                </md-button>

                <md-button type="submit" ng-if="nuevoEquipo" ng-click="CrearEquipo()"
                           class="send-button md-accent md-raised"
                           ng-disabled="reporteEquipoForm.$invalid || reporteEquipoForm.$pristine">
                    Guardar
                </md-button>

            </div>

            <div layout="row">
                <md-button type="button" ng-if="!newContact" ng-click="closeDialog()">
                    Cancelar
                </md-button>
            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
<!-- / DIALOG -->