<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between" style="height: 100px; min-height: 100px; max-height: 100px;">
        <div layout="column" layout-align="space-between">
            <div class="title" >Alquileres para hoy!</div>
        </div>
    </div>
    <!-- / HEADER -->


    <!-- BASIC FORM -->
    <div class="form-wrapper md-whiteframe-1dp" >


    </div>
    <!-- / BASIC FORM -->

    <div class="content" ng-cloak="">

        <div>
            <div  class="white-bg md-whiteframe-4dp">
                <table class="dataTable row-border hover" datatable="ng" >
                    <thead>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Id</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Cliente</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Telefono</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Direccion</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Fecha Inicial</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Fecha Final</span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.Alquileres">
                        <td>{{ item.alquilerId}}</td>
                        <td>{{item.nombreCliente }}</td>
                        <td>{{item.telefono }}</td>
                        <td>{{item.direccion }}</td>
                        <td>{{item.fechaInicial }}</td>
                        <td>{{item.fechaFinal }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="content" ng-cloak="">

        <div>
            <div  class="white-bg md-whiteframe-4dp">
                <table class="dataTable row-border hover" datatable="ng" >
                    <thead>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Id</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Salon</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Docente</span>
                            </div>
                        </th>

                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Fecha Inicial</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Fecha Final</span>
                            </div>
                        </th>

                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Institucion</span>
                            </div>
                        </th>

                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Descripcion</span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.AlquileresInstitucion">
                        <td>{{ item.alquilerInstitucionId}}</td>
                        <td>{{item.salon }}</td>
                        <td>{{item.nombreDocente }}</td>

                        <td>{{item.fechaInicial }}</td>
                        <td>{{item.fechaFinal }}</td>
                        <td>{{item.institucion }}</td>

                        <td>{{item.descripcion }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>