<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="title" translate="EQUIPOS.TITLE">Ingreso de Equipos</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="md-title"></div>

        <!--<div class="mv-24"></div> -->

        <!-- BASIC FORM -->
        <div class="form-wrapper md-whiteframe-1dp" flex="60">

            <form name="basicForm" class="md-inline-form" novalidate>

                <div class="form-title" translate="EQUIPOS.SUBTITLE">Ingresar Equipos/Servicios</div>
                <div class="pb-16">
                    A continuación ingrese los equipos con su respectiva información
                </div>

                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <label translate="EQUIPOS.TIPO">Tipo de Equipo</label>
                        <md-select ng-model="vm.credenciales.Tipo">
                            <md-option ng-repeat="item in vm.Equipos" value="{{item.idEquipo}}">
                                {{item.nombreEquipo}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex>
                        <input type="text" name="marca" ng-model="vm.credenciales.Marca"
                               placeholder="Marca" translate-attr-placeholder="EQUIPOS.MARCA"
                               required>
                        <div ng-messages="basicForm.marca.$error" role="alert">
                            <div ng-message="required">
                                <span translate="EQUIPOS.ERRORS.MARCA_REQUIRED">El campo marca es necesario</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="column" layout-gt-xs="row">
                    <md-input-container flex>
                        <input type="text" name="modelo" ng-model="vm.credenciales.Modelo" placeholder="Modelo"
                               translate-attr-placeholder="EQUIPOS.MODELO" required>
                        <div ng-messages="basicForm.modelo.$error"
                             role="alert">
                            <div ng-message="required">
                                <span translate="EQUIPOS.ERRORS.MODELO_REQUIRED">El campo modelo es necesario</span>
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container flex>
                        <label translate="EQUIPOS.SERIAL">Serial</label>
                        <input type="text" name="serial" ng-model="vm.credenciales.Serial">
                    </md-input-container>
                </div>

                <div layout="column" layout-gt-xs="row">
                    <md-input-container flex>
                        <label translate="EQUIPOS.DATE">Fecha de Compra</label>
                        <md-datepicker ng-model="vm.credenciales.FechaCompra"></md-datepicker>
                    </md-input-container>

                    <md-input-container>

                    </md-input-container>

                    <md-input-container flex>
                        <label>Descripción</label>
                        <textarea ng-model="vm.credenciales.Descripcion" md-maxlength="150" max-rows="5"></textarea>
                    </md-input-container>

                </div>

                <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                           ng-disabled="basicForm.$invalid || basicForm.$pristine" ng-click="vm.createEquipo()">
                    Ingresar
                </md-button>
            </form>

        </div>
        <!-- / BASIC FORM -->
    </div>
    <!-- / CONTENT -->

</div>