<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="title" translate="EQUIPOS.TITLE"></div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="md-title"></div>

        <!--<div class="mv-24"></div> -->

        <!-- BASIC FORM -->
        <div class="form-wrapper md-whiteframe-1dp" flex="60">

            <form name="basicForm" class="md-inline-form" novalidate>

                <div class="form-title" translate="EQUIPOS.SUBTITLE">Ingresar Equipos/Servicios</div>
                <div class="pb-16">
                    A continuación ingrese los equipos con su respectiva información
                </div>

                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Tipo de Equipo</label>
                        <md-select ng-model="vm.Equipo">
                            <md-option ng-repeat="item in vm.Equipos" value="{{item.idEquipo}}">
                                {{item.nombreEquipo}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex>
                        <input type="text" name="marca" ng-model="vm.basicForm.marca"
                               placeholder="Marca"
                               required>
                        <div ng-messages="basicForm.marca.$error" role="alert">
                            <div ng-message="required">
                                <span translate="EQUIPOS.ERRORS.MARCA_REQUIRED">El campo marca es necesario</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="column" layout-gt-xs="row">
                    <md-input-container flex>
                        <input type="text" name="modelo" ng-model="vm.basicForm.modelo" placeholder="Modelo"
                               required>
                        <div ng-messages="basicForm.modelo.$error"
                             role="alert">
                            <div ng-message="required">
                                <span translate="EQUIPOS.ERRORS.MODELO_REQUIRED">El campo modelo es necesario</span>
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Serial</label>
                        <input type="text" name="serial" ng-model="vm.basicForm.serial">
                    </md-input-container>
                </div>

                <div layout="column" layout-gt-xs="row">
                    <md-input-container flex>
                        <label>Fecha de Compra</label>
                        <input type="date" name="date" ng-model="vm.basicForm.date" placeholder="01/10/2016">
                        <div ng-messages="basicForm.date.$error" role="alert" multiple>
                            <div ng-message="required"><span>You must supply a postal code.</span></div>
                            <div ng-message="pattern"><span>That doesn't look like a valid postal code.</span></div>
                        </div>
                    </md-input-container>

                    <md-input-container flex>

                    </md-input-container>


                </div>

                <md-input-container class="md-block">
                    <label>Descripción</label>
                    <textarea ng-model="vm.basicForm.biography" md-maxlength="150" max-rows="5"></textarea>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                           ng-disabled="basicForm.$invalid || basicForm.$pristine">
                    Ingresar
                </md-button>
            </form>

        </div>
        <!-- / BASIC FORM -->
    </div>
    <!-- / CONTENT -->

</div>