<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between" style="height: 100px; min-height: 100px; max-height: 100px;">
        <div layout="column" layout-align="space-between">
            <div class="title" translate="REPORTEDOCENTES.TITLE">Consultar docentes</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="md-title"></div>

        <!--<div class="mv-24"></div> -->

        <!-- BASIC FORM -->
        <div class="form-wrapper md-whiteframe-1dp" flex="60">

            <form name="basicForm" class="md-inline-form" novalidate>

                <div class="form-title" translate="REPORTEDOCENTES.SUBTITLE">Buscar docente</div>
                <div class="pb-16">
                    A continuación busque los alquileres de servicios que tiene asignado cada profesor
                </div>

                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <label translate="REPORTEDOCENTES.DOCENTES">Docentes</label>
                        <md-select ng-model="vm.Reporte.docenteId">
                            <md-option ng-repeat="item in vm.Docentes" ng-value="item.docenteId">
                                {{item.nombre}} {{item.apellidos}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                           ng-click="vm.getAlquileres()"  ng-disabled="basicForm.$invalid || basicForm.$pristine" >
                    Buscar
                </md-button>
            </form>

        </div>
        <!-- / BASIC FORM -->
    </div>
    <!-- / CONTENT -->

    <div class="content" ng-cloak="">

        <div>
            <div  class="white-bg md-whiteframe-4dp">
                <table class="dataTable row-border hover" datatable="ng" >
                    <thead>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Id</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Salon</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Docente</span>
                            </div>
                        </th>

                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Fecha Inicial</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Fecha Final</span>
                            </div>
                        </th>

                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Institucion</span>
                            </div>
                        </th>

                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Descripcion</span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.Alquileres">
                        <td>{{ item.alquilerInstitucionId}}</td>
                        <td>{{item.salon }}</td>
                        <td>{{item.nombreDocente }}</td>

                        <td>{{item.fechaInicial }}</td>
                        <td>{{item.fechaFinal }}</td>
                        <td>{{item.institucion }}</td>

                        <td>{{item.descripcion }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>